*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

:root{
    --primary-color:#127D68;
    --secondary-color:#122C28;
    --font-family: 'Montserrat', sans-serif;
    --text-primary:#1ABC9C;
    --text-secondary:#ECF0F1;
    --other-white:#ffffff;
    --button-primary:#1ABC9C;
    --button-secondary:#367BE4;
    --section-primary:#414141;
    --section-secondary:#545454;
    --frame-primary:#222121;
    --passport-background:#252222;
    --box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

/* light-mode */
.light{
    --section-primary:#ffffff;
    --text-secondary:#6F6F6F;
    --section-secondary:#F0F0F0;
}

body{
    font-family: var(--font-family);
}


/* NavBar Section */
.nav-container{
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-flex{
    width: 90%;
    margin: 0px auto;
    padding: 25px 0px;
}
.nav-details{
    display: flex;
    justify-content: space-between;
}

.nav-details .logo{  
    color: var(--text-primary);
    font-weight: 700;
    font-size: 24px;
}

.nav-details ul{
    list-style-type: none;
    display: flex;
}

.nav-details a{
    text-decoration: none;
    padding: 0px 16px;
    color: var(--text-secondary);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.nav-details li .nav-active{
    color: var(--text-primary);
}

.nav-details .text-flex{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 10px;
}
.nav-details .text-flex .download{
    font-size: 12px;
    font-weight: lighter;
}
.nav-details .text-flex .resume{
    font-size: 16px;
    font-weight: 700;
}


/* Banner section */
.banner-container{
    background: linear-gradient(to left, var(--secondary-color), var(--primary-color));
}

.banner-flex{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 90px;
} 

.banner-flex .name-details{
    margin-top: 100px;
    color: var(--text-secondary);
}

.banner-flex .name-details h3{
    font-size: 20px;
    font-weight: 500;
}
.banner-flex .name-details h2{
    font-size: 56px;
    font-weight: 700;
    padding: 8px 0;
}

.line-details{
    display: flex;
}

.banner-flex .name-details .horizontal-line{
    width: 40px;
    height: 2px; 
    background: linear-gradient(to right, var(--button-primary), var(--button-secondary));
    border: none;
    position: relative;
    top: 10px;
}

.banner-flex .name-details p{
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 500;
}
.banner-flex .name-details a{
    cursor: pointer;
}

.banner-flex .name-details .btn{
    padding: 16px 24px;
    border-radius: 100px;
    border: 0px;
    background: linear-gradient(to right, var(--button-primary), var(--button-secondary));
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--text-secondary);
    position: relative;
    top: 30px;
}

.banner-flex .image{
    display: flex;
    padding-top: 10px;

}

.banner-flex .image img{
    height: 400px;
    object-fit: cover;
    margin-right: 250px;
}

.banner-flex .image .div-button {
    cursor: pointer;
    font-size: 20px;
    height: 20px ;
}

/* Transition effect for sun icon */
.banner-flex .image .div-button .fa-sun {
    border-radius: 10px;
    padding: 16px;
    color: var(--text-secondary);
    background-color: var(--button-primary);
}

/* Transition effect for moon icon */
.banner-flex .image .div-button .fa-moon {
    border-radius: 10px;
    color: var(--text-secondary);
    padding: 16px;
    background-color: var(--button-primary);
}

/* About section */

.about-container{
    background-color: var(--section-primary);
    padding: 56px 0;
}

.about-container .about-flex{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.about-container .about-flex .flex-1 .box-outline{
    border:2px;
    width: 100%;
    height: 100%;
    border:2px solid var(--frame-primary);
    border-radius: 3px;    
    position: relative;
}
.about-container .about-flex .flex-1 img{
    height: 95%;
    width: 93%;
    position: relative;
    object-fit: cover;
    background-color:var(--passport-background);
    left: 8px;
    bottom: 410px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.about-container .about-flex .flex-1 .rotate-180 {
    transform: scaleX(-1);
}

/* About me flex 2 */
.about-container .about-flex .flex-2{
    padding: 0px 30px ;
}
.about-container .about-flex .flex-2 h2{
    color: var(--text-secondary);

}

.about-container .about-flex .flex-2 .line-details{
    display: flex;
}
.about-container .about-flex .flex-2 .line-details .horizontal-line{
    display: flex;
    width: 40px;
    height: 2px; 
    background: linear-gradient(to right, var(--button-primary), var(--button-secondary));
    border: none;
    position: relative;
    top: 10px;
}

.about-container .about-flex .flex-2 .line-details p{
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-secondary);
}

.about-container .about-flex .flex-2 p{
    font-size: 14px;
    font-weight: lighter;
    color: var(--text-secondary);
    padding: 4px 0px;
}
.about-container .about-flex .flex-2 h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--text-secondary);
}

.about-container .about-flex .flex-2 .skill-box-container{
    background-color: var(--passport-background);
    padding: 24px 52px;
    margin: 10px 0;
}
.about-container .about-flex .flex-2 .skill-flex{
    display: flex;
    justify-content: space-between;
}
.about-container .about-flex .flex-2 .list-1{
    padding: 10px 0;
}

.about-container .about-flex .flex-2 .list-1 p{
    font-size: 16px;
    font-weight: 700;
    color: var(--other-white);
}

.about-container .about-flex .flex-2 .list-1 .star-rating .fa-solid{
    color: var(--primary-color);
    padding-right:2px;
}
.about-container .about-flex .flex-2 .list-1 .star-rating .outlined-star{
    color: transparent;
    -webkit-text-stroke: 1px var(--primary-color);
}
.about-container .about-flex .flex-2 a{
    padding: 16px 24px;
    background: linear-gradient(to right, var(--button-primary), var(--button-secondary));
    border-radius: 100px;
    box-shadow: var(--box-shadow);
    position: relative;
    top: 24px;
    font-size: 16px;
    color: var(--other-white);
    font-weight: 700;
}

/* My Services Section */
.services-container{
    background-color: var(--section-secondary);
    padding-top: 32px;
}

.services-container .service-flex{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* justify-content: space-between; */
    width: 90%;
}
.services-container .service-flex .service-1 .line-details{
    display: flex;
}
.services-container .service-flex .service-1 .line-details p{
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-secondary);
}
.services-container .service-flex .service-1 .horizontal-line{
    display: flex;
    width: 40px;
    height: 2px; 
    background: linear-gradient(to right, var(--button-primary), var(--button-secondary));
    border: none;
    position: relative;
    top: 10px;
}
.services-container .service-flex h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--text-secondary);
    padding-top: 4px;
}
.services-container .service-flex .service-2{
    display: flex;
    flex-direction: column;
    
}
.services-container .service-flex .service-2 .card-flex-1{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
.services-container .service-flex .service-2  .card{
    background-color: var(--passport-background);
    padding: 48px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.services-container .service-flex .service-2  .card .fa-solid{
    font-size: 24px;
    color: var(--button-primary);
    
}
.services-container .service-flex .service-2  .card h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--other-white);
    padding-top: 20px;
    
}
.services-container .service-flex .service-2 .card p{
    font-size: 14px;
    font-weight: lighter;
    color: var(--other-white);
    padding-top: 16px;
    
}

.services-container .service-flex .service-2 .card-flex-2{
    display: flex;
    margin: 0 auto;
    /* flex-direction: column; */
}
.services-container .service-flex .service-2 .card-flex-2 .card{
    padding: 48px;
    width: 400px;   
}

/* Conatact overlay section */

.overlay-container{
    background-color: var(--text-secondary);
    position: absolute;
    right: 10px;
    top:50px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: fixed;
    z-index: 1;
}

.overlay-container .overlay-flex{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.overlay-container .overlay-flex .fa-solid{
    color: var(--primary-color);
    font-size: 20px;
    align-self: center;
}

.overlay-container .overlay-flex h3{
    color: var(--primary-color);
    font-size: 16px;
    padding-left: 20px;
}

.overlay-container .overlay-flex .email{
    display: flex;
    padding-top: 20px;
}
.overlay-container .overlay-flex .phone{
    display: flex;
}
